<div class="blogPost mx-3" id="{{this.id}}">
    <div class="post-body">

        <h5 class="post-title" data-post-title="{{this.post_title}}"></h5>
        
        <h6 class="post-meta">
            Posted by {{user.author_name}} on {{formatTime this.post_time 'MM/DD/YY h:mm A'}}
        </h6>
            
        <p class="post-content" data-post-content="{{this.post_content}}"></p>


    
        <div class="comment-container">
            

        

        {{#each comments}}
            <div class="comment">
            {{#with this as | comment |}}
                {{#with ../session as | session | }}
                    {{#if session.loggedIn}}
                        {{#if (compare comment.user_id session.user_id)}}   

                        <button
                        class="controlButton deleteCommentButton"
                        data-id="{{comment.id}}" 
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteCommentDialog"
                        >✖️</button>

                        {{/if}}
                    {{/if}}
                {{/with}}
            {{/with}}


                <h5 class="comment-content" data-comment-content="{{this.comment_content}}"></h5>
                <p class="comment-meta">-{{user.author_name}} on {{formatTime this.comment_time 'MM/DD/YY h:mm A'}}</p>
            
            </div>
        
        {{/each}}
        </div>


        <div class="post-nav">
            {{#with this as | post |}}
            {{#with session as | session | }}
            {{#if session.loggedIn}}
            {{#if (compare post.user_id session.user_id)}}

            <button 
            class="btn btn-primary deletePostButton controlButton" 
            data-id="{{post.id}}"
            >✖️</button>
                            
            <button 
            class="btn btn-primary editPostButton controlButton" 
            data-id="{{post.id}}"
            >✏️</button>

            {{/if}}
            <button 
            class="btn btn-primary newCommentButton controlButton"
            data-id="{{post.id}}"
            >💬</button>

            {{/if}}
            {{/with}}
            {{/with}}
        </div>
    </div>
</div>
